.digital-tree__layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.blocks-field {
  display: flex;
  flex-wrap: wrap;
  width: 1090px;
  height: 590px;
  justify-content: space-between;
  align-items: center;

}

.block {
  width: 50px;
  background: gray;
}


.block:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.digital-tree__counter {
  max-width: 25%;
}

.digital-tree__counter-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #222528;
  margin-top: 20px;
}

.digital-tree__counter-count {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #222528;
}

.digital-tree__counter-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.digital-tree__counter-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #222528;
}

.digital-tree__counter-text-before {
  position: relative;
  right: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #222528;
} 

.digital-tree__counter-text-after {
  position: relative;
  left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #222528;
  width: 20px;
} 


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
   opacity: 1;
}

.digital-tree__counter-trees-cell-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.digital-tree__counter-trees-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.digital-tree__counter-trees-cell-box-text {
  position: relative;
  right: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: white;
  width: 20px;
}

.digital-tree__field-left {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  align-items: center;
  justify-content: space-around;
  height: 300px;

}

.digital-tree__field-left-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.digital-tree__field-left-control-button {
  background: none;

}
.digital-tree__field-left-control-button:hover {
  filter: invert(0.5);
  background: none;
}

.digital-tree__field-left-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #222528;
}

.digital-tree__field-left-logbox {
  width: 100%;
  height: 144px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  border-color: gray;
}

.digital-tree__field-left-logbox-text {

}