.digital-tree__layout {
  /* width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 320px;
  margin-top: 16px;

}

.blocks-field-raw {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .block {
  width: 50px;
  height: 50px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.digital-tree__control {
  /* min-width: 320px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 16px;
}

.digital-tree__counter {
  width: 216px;
}

.digital-tree__counter-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222528;
  margin-right: 8px;
}

.digital-tree__counter-count {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222528;
}

.digital-tree__counter-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.digital-tree__counter-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #222528;
}

.counter-text-input {
  width: 56px;
  margin-right: 8px;
}

.digital-tree__counter-text-before {
  position: relative;
  right: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #222528;
} 

.digital-tree__counter-text-after {
  position: relative;
  left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #222528;
  width: 20px;
} 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
}

.digital-tree__counter-trees-cell-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.digital-tree__counter-trees-cell-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital-tree__counter-trees-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.digital-tree__counter-trees-cell-box-text {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: white;
  width: 20px;
}

.digital-tree__counter-field-size {
  display: flex;
  margin-top: 24px;
}

.digital-tree__counter-field-size-text{
  margin-left: 10px;
  margin-right: 10px;
}


