<template>
  <div class="digital-tree__header">
    <div class="digital-tree__header-logo">
      <img
        src="@/assets/vuejs-logo.svg"
        style="height: 32px; opacity: 0.5;"
        alt="Vue logo"
      >
    </div>
    <div class="digital-tree__header-text">
      Digital Trees
    </div>
    <div>
    </div>
  </div>
</template>

<style scoped>
  @import 'cell-header';
</style>
